:root {
    --background: #000;
    --background-alternative: #232323;
    --background-code: #515151;
    --primery-color: #fff;
    --inverse: #676767;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: var(--background);
    transition: background 1s, color 1s;
}

body.actif {
    --background: #fff;
    --background-alternative: #dedede;
    --background-code: #cdcdcd;
    --primery-color: #000;
    --inverse: #383838;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--inverse);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

.colorSwitch {
    background: var(--primery-color);
    position: fixed;
    top: 30px;
    right: 20px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.circle {
    background: var(--background);
    position: absolute;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transition: .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.actif {
    left: 35px !important;
}

.colorMode {
    width: 15px;
    height: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}

.colorMode svg {
    width: 15px;
    fill: var(--primery-color);
}

.circle .colorMode:nth-child(1) {
    opacity: 1;
    transform: rotateZ(0deg);
}

.circle .colorMode:nth-child(2) {
    opacity: 0;
    transform: rotateZ(0deg);
}

.circle.actif .colorMode:nth-child(1) {
    opacity: 0;
    transform: rotateZ(720deg);
}

.circle.actif .colorMode:nth-child(2) {
    opacity: 1;
    transform: rotateZ(720deg);
}

.retour {
    position: fixed;
    top: 30px;
    left: 20px;
    text-decoration: none;
    color: var(--background);
    background: var(--primery-color);
    border-radius: 20px;
    font-weight: 1000;
    font-size: 15px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px var(--primery-color);
    transition: background 1s, color 1s;
}

.container {
    width: 85%;
    background: var(--background-alternative);
    transition: background 1s;
    padding: 30px;
    margin-left: 30px;
}

section {
    /* border: 2px solid black; */
    position: relative;
    border-bottom: 5px solid var(--background);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: border 1s;
}

section:last-child {
    border: none !important;
}


.titlesDate .date {
    margin-left: 100px;
    width: min-content;
    white-space: nowrap;
    padding: 20px;
    font-size: 35px;
    color: var(--primery-color);
    border-bottom: 2px solid var(--primery-color);
    transition: color 1s, border 1s;
}

.titlesDate .firstTitle{
    font-size: 30px;
    padding: 50px 5%;
    color: var(--primery-color);
    transition: color 1s, border 1s;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    transition: color 1s, border 1s;
}

.article {
    border-left: 3px solid var(--primery-color);
    color: var(--primery-color);
    transition: color 1s;
    flex: 1 1 100%;
    transition: border 1s;
}

.articles .article:nth-child(2n),
.articles .article:nth-child(2n-1) {
    flex: 1 1 calc(50% - 20px);
}

.article .titre {
    width: 100%;
    font-size: 30px;
    padding: 20px 20px 0px 20px;
    transition: color 1s, border 1s;
}

.article .content {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    transition: color 1s, border 1s;
    margin-left: 20px;
}
.article .content .exempleCode{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    transition: color 1s, border 1s;
    background: var(--background-code);
    margin: 20px;
    border-radius: 5px;
    transition: background 1s, color 0.4s;
}

.tab{
    width: 20px;
    display: inline-block;
}

.copyright {
    position: absolute;
    bottom: -10px;
    right: 20px;
    text-align: right;
    color: var(--primery-color);
}