@font-face {
    font-family: Oswald;
    src: url(assets/font/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Protest_Guerrilla;
    src: url(assets/font/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf);
}

:root{
    --nav-background: #151515;
    --accueil-background: #1E1E1E;
    --presentation-background: #323232;
    --cv-background: #121010;
    --competence-background: #232323;
    --stage-background: #1a1a1a;
    --contact-background: #232323;
    --primery-color: #ffffff;
    --circle-switch: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

body {
    scroll-behavior: smooth;
}

body.actif {
    --nav-background: #efefef;
    --accueil-background: #dbdbdb;
    --presentation-background: #ababab;
    --cv-background: #9a9a9a;
    --competence-background: #bebebe;
    --stage-background: #acacac;
    --contact-background: #bfbfbf;
    --primery-color: #000000;
    --circle-switch: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--circle-switch);
    /* border-radius: 10px; */
}

.colorSwitch {
    background: var(--primery-color);
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.circle {
    background: var(--circle-switch);
    position: absolute;
    left: 15px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transition: .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.actif {
    left: 45px !important;
}

.colorMode {
    width: 15px;
    height: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}

.colorMode svg {
    width: 15px;
    fill: var(--primery-color);
}

.circle .colorMode:nth-child(1) {
    opacity: 1;
    transform: rotateZ(0deg);
}

.circle .colorMode:nth-child(2) {
    opacity: 0;
    transform: rotateZ(0deg);
}

.circle.actif .colorMode:nth-child(1) {
    opacity: 0;
    transform: rotateZ(720deg);
}

.circle.actif .colorMode:nth-child(2) {
    opacity: 1;
    transform: rotateZ(720deg);
}

.popup {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 350px;
    height: 100px;
    z-index: 10000;
    padding: 30px;
    background: rgba(233, 233, 233, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #ffffff;
    pointer-events: none;
    opacity: 0;
}

.popup.actif {
    opacity: 1;
}

.name-section {
    padding-top: 20px;
    color: var(--primery-color);
    width: 100%;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500;
    font-family: Protest_Guerrilla;
    transition: background 1s, color 1s;
}

.menu-burger {
    display: none;
}

nav {
    background: var(--nav-background);
    position: fixed;
    width: auto;
    right: 0;
    padding-left: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: 10px 0 10px #eee;
    z-index: 1000;
    transition: background 1s, color 1s;
}

nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: -119px;
    border-top: 50px solid var(--nav-background);
    border-right: 60px solid var(--nav-background);
    border-left: 60px solid transparent;
    border-bottom: 50px solid transparent;
    transition: background 1s, color 1s, border 1s;
}

nav hr {
    width: 100%;
    height: 2.5px;
    background: var(--primery-color);
    position: absolute;
    bottom: 15px;
    transition: background 1s, color 1s;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li,
nav ul a {
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    margin: 0 15px;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    color: var(--primery-color);
    position: relative;
    text-align: center;
    transition: background 1s, color 1s;
}

li::after {
    transition: .5s width;
    content: "";
    width: 0%;
    height: 3px;
    background: var(--primery-color);
    position: absolute;
    left: 0;
    bottom: -18px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: background 1s, color 1s;
}

li.actif::after {
    content: "";
    width: 100%;
    height: 3px;
    background: var(--primery-color);
    position: absolute;
    left: 0;
    bottom: -18px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: background 1s, color 1s;
}

#stage.actif {
    animation: none;
}

#stage {
    animation: jump 1s infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

ul h1 {
    margin: 0 50px 0 70px;
    font-size: 30px;
    font-family: Protest_Guerrilla;
    letter-spacing: 2px;
    color: #efefef;
}


/*      Start      */


/* Section Accueil  */

.sec-accueil {
    background: var(--accueil-background);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    transition: background 1s, color 1s;
}

.sec-accueil .content .nom-prenom {
    font-size: 100px;
    letter-spacing: 2px;
    font-family: Protest_Guerrilla;
    margin-top: 120px;
    margin-left: 150px;
    color: rgb(190, 27, 27);
}

.sec-accueil .content p {
    font-size: 40px;
    width: 80%;
    margin-left: 170px;
    margin-right: 200px;
    margin-top: 50px;
    padding-left: 100px;
    line-height: 60px;
    color: var(--primery-color);
    transition: background 1s, color 1s, border 1s;
}


/* End Section Accueil  */


/* Section Presentation  */

.sec-presentation {
    background: var(--presentation-background);
    padding-bottom: 20px;
    transition: background 1s, color 1s;
}

.sec-presentation .sec-content {
    display: flex;
}

.sec-presentation .sec-content .left,
.sec-presentation .sec-content .right {
    width: 50%;
    padding: 40px;
}

.sec-presentation .sec-content .right {
    border-left: 2px solid white;
}

.sec-presentation .sec-content .left h1,
.sec-presentation .sec-content .right h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: var(--primery-color);
    margin-bottom: 20px;
    transition: background 1s, color 1s;
}

.sec-presentation .sec-content .left p,
.sec-presentation .sec-content .right p {
    font-size: 25px;
    text-align: center;
    color: var(--primery-color);
    transition: background 1s, color 1s;
}


/* End Section Presentation  */


/* Section CV  */

.sec-cv {
    background: var(--cv-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 1s, color 1s;
}

.sec-cv div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-cv div h1 {
    color: var(--primery-color);
    margin: 30px 0;
    transition: background 1s, color 1s;
}

.sec-cv div .buttons {
    display: flex;
    flex-direction: row;
}

.sec-cv div .buttons a,
.sec-cv div .buttons button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--primery-color);
    font-size: 20px;
    color: var(--primery-color);
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    transition: background 1s, color 1s, border 1s;
}

.sec-cv div .buttons a:hover,
.sec-cv div .buttons button:hover {
    background: #dedede;
    color: #000;
}


/* End Section CV  */


/* Section Competence */

.sec-competence {
    background: var(--competence-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: background 1s, color 1s;
}

.sec-competence .file-content {
    margin-top: 30px;
    height: 600px;
    width: 400px;
    background: #cecece;
    position: relative;
}

.sec-competence .file-content img {
    width: 100%;
    height: 100%;
}

.sec-competence a {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--primery-color);
    font-size: 20px;
    color: var(--primery-color);
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    transition: background 1s, color 1s, border 1s;
}

.sec-competence a:hover {
    background: #dedede;
    color: #000;
}


/* End Section Competence */


/* Section stage  */

.sec-stage {
    background: var(--stage-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 1s, color 1s;
}

.sec-stage p {
    font-size: 40px;
    letter-spacing: 1.5px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--primery-color);
    text-align: center;
    transition: background 1s, color 1s;
}

.sec-stage p span {
    cursor: pointer;
    text-decoration: underline;
}


/* End Section stage  */


/* Section Contact */

.sec-contact {
    background:var(--contact-background);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    transition: background 1s, color 1s;
}

.sec-contact .sec-content {
    display: flex;
}

.sec-contact .left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-contact .left .content-form {
    width: 400px;
    height: 600px;
    border: 2px solid var(--primery-color);
    border-radius: 10px;
    position: relative;
    margin: 50px 0;
    transition: background 1s, color 1s, border 1s;
}

.sec-contact .left .content-form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sec-contact .left .content-form form h1 {
    padding: 10px;
    color: var(--primery-color);
    font-size: 40px;
    transition: background 1s, color 1s;
}

.sec-contact .left .content-form form .input-field {
    width: 100%;
    position: relative;
    margin: 15px;
}

.sec-contact .left .content-form form .input-field.input label {
    position: absolute;
    top: 25%;
    left: 30px;
    color: var(--primery-color);
    pointer-events: none;
    transition: .3s;
    transition: background 1s, color 1s;
}

.sec-contact .left .content-form form .input-field.textarea label {
    position: absolute;
    top: 10px;
    left: 30px;
    color: var(--primery-color);
    pointer-events: none;
    transition: .3s;
    transition: background 1s, color 1s;
}

.sec-contact .left .content-form form .input-field input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--primery-color);
    background: transparent;
    color: var(--primery-color);
    padding: 0px 30px;
    transition: background 1s, color 1s, border 1s;
}

input:-webkit-autofill {
    appearance: none !important;
    background-color: #232323 !important;
    color: white!important;
    -webkit-text-fill-color: white !important;
    background-image: none !important;
    box-shadow: 0 0 0px 1000px #232323 inset !important;
}

.sec-contact .left .content-form form .input-field input:focus,
.sec-contact .left .content-form form .input-field input:valid {
    background: transparent;
}

.sec-contact .left .content-form form .input-field input:focus~label,
.sec-contact .left .content-form form .input-field input:valid~label {
    top: -30%;
    left: 20px;
    padding: 0px 10px;
    background: #232323;
}

.sec-contact .left .content-form form .input-field input:valid {
    border-color: #1CD679;
}

textarea {
    resize: none;
}

.sec-contact .left .content-form form .input-field textarea:focus~label,
.sec-contact .left .content-form form .input-field textarea:valid~label {
    top: -15px;
    left: 20px;
    padding: 0px 10px;
    background: var(--primery-color) ;
    transition: background 1s, color 1s;
}

.sec-contact .left .content-form form .input-field textarea:valid {
    border-color: #1CD679;
}

.sec-contact .left .content-form form .input-field textarea {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--primery-color);
    background: transparent;
    color: var(--primery-color);
    padding: 10px 30px;
    height: 210px;
    transition: background 1s, color 1s, border 1s;
}

.sec-contact .left .content-form form button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--primery-color);
    margin: 20px;
    cursor: pointer;
    color: var(--primery-color);
    background: transparent;
    transition: .3s;
    transition: background 1s, color 1s, border 1s;
}

.sec-contact .left .content-form form button:hover {
    background: #1CD679;
    border: 2px solid #1CD679;
}

.sec-contact .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--primery-color);
    transition: background 1s, color 1s, border 1s;
}

.sec-contact .right .content {
    width: 70%;
    height: min-content;
    padding: 20px;
}

.sec-contact .right .box {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sec-contact .right .box .border svg {
    padding: 5px;
    border: 1px solid var(--primery-color);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: background 1s, color 1s, border 1s !important;
}

.sec-contact .right .box .border svg {
    /* padding: 5px; */
    height: 30px;
    fill: var(--primery-color);
    transition: background 1s, color 1s, fill 1s !important;
}

.sec-contact .right h1 {
    color: var(--primery-color);
    transition: background 1s, color 1s;
}

.sec-contact .right h1 a {
    color: var(--primery-color);
    text-decoration: none;
    transition: background 1s, color 1s;
}

h1.copy {
    cursor: pointer;
}

.copyright {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--primery-color);
    transition: background 1s, color 1s;
}


/* End Section Contact */

@media screen and (max-width: 1440px) {
    ul li {
        font-size: 15px;
    }
    li::after {
        bottom: -22px;
    }
    li.actif::after {
        bottom: -22px;
    }
}

@media screen and (max-width: 1270px) {
    nav {
        width: 100%;
        justify-content: center;
    }
    ul li {
        font-size: 20px;
    }
    li::after {
        bottom: -18px;
    }
    li.actif::after {
        bottom: -18px;
    }
}

@media screen and (max-width: 1100px) {
    .name-section {
        padding-top: 20px;
        color: white;
        width: 100%;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 500;
        font-family: Protest_Guerrilla;
    }
    hr {
        width: 0;
        display: none;
    }
    .menu-burger {
        width: 40px;
        height: 40px;
        /* background: white; */
        position: fixed;
        z-index: 100000;
        display: block !important;
        top: 20px;
        right: 20px;
        pointer-events: all;
        transition: .5s;
        transform: rotate(0deg);
    }
    .menu-burger.actif {
        transform: rotate(360deg);
    }
    .menu-burger .open,
    .menu-burger .close {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: .5s;
    }
    .menu-burger .open.actif,
    .menu-burger .close.actif {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        pointer-events: none;
    }
    .menu-burger .open svg,
    .menu-burger .close svg {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    nav {
        width: min-content;
        height: 0px;
        justify-content: center;
        top: 10px;
        right: 10px;
        box-shadow: none;
        padding: 0px;
        overflow: hidden;
        transition: 1s;
        opacity: 0;
    }
    nav.actif {
        opacity: 1;
        height: 400px;
        padding: 10px;
    }
    nav::after {
        width: 0;
        height: 0;
        border: 0;
    }
    ul {
        flex-direction: column;
    }
    ul li,
    ul a {
        font-size: 20px;
        padding: 5px 5px !important;
        margin: 5px 10px !important;
        white-space: nowrap;
    }
    li::after {
        bottom: -5px;
    }
    li.actif::after {
        bottom: -1px;
    }
    /* Section Accueil  */
    .sec-accueil {
        background: #1E1E1E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        position: relative;
    }
    .sec-accueil .content .nom-prenom {
        font-size: 50px;
        letter-spacing: 2px;
        font-family: Protest_Guerrilla;
        margin-top: 30px;
        margin-left: 20px;
        color: rgb(190, 27, 27);
    }
    .sec-accueil .content p {
        font-size: 21px;
        width: 90%;
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 20px;
        padding-left: 0px;
        line-height: 30px;
        color: #bebebe;
    }
    /* End Section Accueil  */
    /* Section Presentation  */
    .sec-presentation {
        background: #323232;
        padding-bottom: 20px;
    }
    .sec-presentation .sec-content {
        display: flex;
        flex-direction: column;
    }
    .sec-presentation .sec-content .left,
    .sec-presentation .sec-content .right {
        width: 100%;
        padding: 10px;
    }
    .sec-presentation .sec-content .right {
        border-left: 0px solid white;
    }
    .sec-presentation .sec-content .left h1,
    .sec-presentation .sec-content .right h1 {
        width: 100%;
        text-align: center;
        font-size: 25px;
        color: white;
        margin-bottom: 20px;
    }
    .sec-presentation .sec-content .left p,
    .sec-presentation .sec-content .right p {
        font-size: 20px;
        text-align: center;
        color: #cfcfcf;
        line-height: 25px;
    }
    /* End Section Presentation  */
    /* Section CV  */
    .sec-cv {
        background: #121010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .sec-cv div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec-cv div h1 {
        color: white;
        margin: 30px 0;
        width: 95%;
        text-align: center;
    }
    .sec-cv div .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sec-cv div .buttons a,
    .sec-cv div .buttons button {
        width: 80%;
        height: 50px;
        border-radius: 10px;
        outline: none;
        margin: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid #dedede;
        font-size: 20px;
        color: white;
        cursor: pointer;
        transition: .5s;
        text-decoration: none;
    }
    .sec-cv div .buttons button {
        margin-bottom: 25px !important;
    }
    .sec-cv div .buttons a:hover,
    .sec-cv div .buttons button:hover {
        background: #dedede;
        color: #000;
    }
    /* End Section CV  */
    /* Section Competence */
    .sec-competence {
        background: #232323;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .sec-competence .file-content {
        width: 95%;
        background: #cecece;
        position: relative;
        height: auto;
        overflow: hidden;
    }
    .sec-competence .file-content img {
        width: 100%;
        height: 100%;
    }
    .sec-competence a {
        width: 95%;
        height: 50px;
        border-radius: 10px;
        outline: none;
        margin: 30px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid #dedede;
        font-size: 20px;
        color: white;
        cursor: pointer;
        transition: .5s;
        text-decoration: none;
    }
    .sec-competence a:hover {
        background: #dedede;
        color: #000;
    }
    /* End Section Competence */
    /* Section stage  */
    .sec-stage {
        background: #1a1a1a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec-stage p {
        font-size: 22px;
        letter-spacing: 1px;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 30px;
        color: white;
        text-align: center;
        line-height: 25px;
    }
    .sec-stage p span {
        cursor: pointer;
        text-decoration: underline;
    }
    /* End Section stage  */
    /* Section Contact */
    .sec-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #232323;
        padding-bottom: 10px;
    }
    .sec-contact .sec-content {
        display: flex;
        flex-direction: column;
    }
    .sec-contact .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sec-contact .left .content-form {
        width: 90%;
        height: 600px;
        border: 2px solid white;
        border-radius: 10px;
        position: relative;
        margin: 50px 0;
    }
    .sec-contact .left .content-form form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .sec-contact .left .content-form form h1 {
        padding: 10px;
        color: white;
        font-size: 40px;
    }
    .sec-contact .left .content-form form .input-field {
        width: 100%;
        position: relative;
        margin: 15px;
    }
    .sec-contact .left .content-form form .input-field.input label {
        position: absolute;
        top: 25%;
        left: 30px;
        color: white;
        pointer-events: none;
        transition: .3s;
    }
    .sec-contact .left .content-form form .input-field.textarea label {
        position: absolute;
        top: 10px;
        left: 30px;
        color: white;
        pointer-events: none;
        transition: .3s;
    }
    .sec-contact .left .content-form form .input-field input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        outline: none;
        border: 2px solid #CECECE;
        background: transparent;
        color: white;
        padding: 0px 30px;
    }
    input:-webkit-autofill {
        appearance: none !important;
        background-color: #232323 !important;
        color: white!important;
        -webkit-text-fill-color: white !important;
        background-image: none !important;
        box-shadow: 0 0 0px 1000px #232323 inset !important;
    }
    .sec-contact .left .content-form form .input-field input:focus,
    .sec-contact .left .content-form form .input-field input:valid {
        background: transparent;
    }
    .sec-contact .left .content-form form .input-field input:focus~label,
    .sec-contact .left .content-form form .input-field input:valid~label {
        top: -30%;
        left: 20px;
        padding: 0px 10px;
        background: #232323;
    }
    .sec-contact .left .content-form form .input-field input:valid {
        border-color: #1CD679;
    }
    textarea {
        resize: none;
    }
    .sec-contact .left .content-form form .input-field textarea:focus~label,
    .sec-contact .left .content-form form .input-field textarea:valid~label {
        top: -15px;
        left: 20px;
        padding: 0px 10px;
        background: #232323;
    }
    .sec-contact .left .content-form form .input-field textarea:valid {
        border-color: #1CD679;
    }
    .sec-contact .left .content-form form .input-field textarea {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        outline: none;
        border: 2px solid #CECECE;
        background: transparent;
        color: white;
        padding: 10px 30px;
        height: 210px;
    }
    .sec-contact .left .content-form form button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 2px solid #CECECE;
        margin: 20px;
        cursor: pointer;
        color: white;
        background: transparent;
        transition: .3s;
    }
    .sec-contact .left .content-form form button:hover {
        background: #1CD679;
        border: 2px solid #1CD679;
    }
    .sec-contact .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 0px solid white;
        border-top: 2px solid white;
    }
    .sec-contact .right .content {
        width: 100%;
        height: min-content;
        padding: 20px;
        position: relative;
    }
    .sec-contact .right .box {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .sec-contact .right .box .border svg {
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .sec-contact .right .box .border svg {
        /* padding: 5px; */
        height: 30px;
        fill: white;
    }
    .sec-contact .right h1 {
        color: white;
    }
    .sec-contact .right h1 a {
        color: white;
        text-decoration: none;
    }
    h1.copy {
        cursor: pointer;
    }
    /* End Section Contact */
}